*{
    margin: 0;
    padding: 0;
}
.container{
	width:100%;
	height:40px;
	background-color:#f7f7f7;
}
.header_1{
    float: left;
    margin-left:40px;
    float: left;
    width: 340px;
    height: 100%;

}
/*页眉导航显现的整体*/
.header_1 ul{
    float: left;
    width: 100%;
    height: 100%;
}
.header_1 ul li{  /*去掉以及菜单的点，横向浮动*/
    float: left;
    list-style:none;
}
/*页眉单个菜单的具体属性*/
.header_1 ul li a:link, .header_1 ul li a:visited{
    display: block;    /*以块元素呈现*/
    width:72px;
    height: 100%;
    text-align:center;
    text-decoration: none;
    line-height: 35px;
    font-size: 12px;
    background-color: #f7f7f7;
    color: #593b42;
}
.header_1 ul li a:hover,.header_1 ul li a:active{
    background-color:white ;
}
.header_1 ul li ul{
    display: none;   /* 隐藏二级菜单列表*/
    position: absolute;   /*二级菜单的位置固定*/
}
.header_1 ul li :hover ul{
    display: block;
    /*width: auto;     !*消除二级菜单的滚动条*!*/
}
/*导航下面的滚动条*/
.header_1 ul li ul li{
    float: none;     /*消除二级菜单的浮动*/
    margin-left: -5px;
    background-color: white;
    width: 72px;
}
/*页眉导航第二大块*/
.header_2{
    position: relative;
    margin-right: 16px;
    float: right;
    width: 610px;
    height: 100%;
}
.header_2 ul{
    margin: 0 auto;
    float: right;
    width: 100%;
    height:100%;
}
.header_2 ul li{
    float: right;
    list-style:none;
}
.header_2 ul li a:link, .header_2 ul li a:visited{
    display: block;
    width: 77px;
    height: 100%;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 12px;
    color: #593b42;
}
.header_2 ul li a:hover,.header_2 ul li a:active{
    background-color: white;
}
.header_2 ul li ul{
    display: none;
    position: absolute;
}
.header_2 ul li:hover ul{
    display: block;
}

.header_2_1_1 i{
    float: right;
    text-indent: 1px;
    margin-left: 67px;
    margin-top:-22px;
	text-decoration:none;
}
.header_2_1_2 i{
    float: right;
    text-indent: 1px;
    margin-left: 60px;
    margin-top:-22px;
	text-decoration:none;
}
.header_2_1_3 i{
    float: right;
    text-indent: 1px;
    margin-left: 60px;
    margin-top:-22px;
	text-decoration:none;
}
.header_2_1_4 i{
    float: right;
    text-indent: 19px;
    margin-left: 67px;
    margin-top:-22px;
	text-decoration:none;
}
.logo_1{
	margin-left:209px;
	float:left;
}
.logo{
    float: left;
    margin-left: 0px;
    width: 100%;
    height: 70px;
	background-color:#ADE3FA;
    /*background-color: #d3fff5;*/
    position: relative;
}

/*搜索输入框*/
input{
    float: left;
    width: 520px;
    height: 38px;
    border: 1px solid #ADE3FA;
    outline: none;
    border-radius: 25px  0 0 25px;
    font-size: 11px;
    text-indent: 10px; /*设置搜索框内的字的位置*/
    padding: 0 20px;
}
input text{
    margin-left: 30px;
}
.a{
    color: darkmagenta;
    text-decoration: none;
}
#list{
    width: 480px;
    position: relative;
    left: 100px;
    border: 1px solid #CECECE;
    display: none;
}
#list >li{
    padding: 40px;
    boreder-botton:1px solid #CECECE;
    list-style:none;
    line-height: 40px;
    cursor:pointer;
}
#list>li:last-child{
    border-bottom: none;
}
.list>li:hover{
    background-color: chartreuse;
}
/*右侧的搜索按钮*/
#btn{
    float: left;
    height: 40px;
    width: 80px;
    background:#F2F2F2;
    color: white;
    border: none;
    text-align: center;
	ling-height:40px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}


.ul2{
    width: 250px;
    height:100%;
    position: absolute;
    right: 0;
    left: 0;
    background:#F6F9FC;
    box-sizing: border-box;
    padding-top: 20px;
    display: none;
}

#list>li:hover .ul2{
    display: block;
}

.ul2 .li2{
    margin:5px;
    float: left;
    list-style:none;
    border: 1px solid #CECECE;
}
 .ul2 .li2 a{
     display: block;
     line-height: 30px;
     width: 60px;
     height: 30px;
     text-align: center;
 }

 .ul2 .li2:hover a{
     color: white;
 }
 .hover{
     color:red;
 }
#nav{
	width: 100%;
	height: 86px;
	text-align:center;
	margin: 100px auto;
	font-size:0;
}
#nav a{
	display:inline-block;
	width:100px;
	height:50px;
	color:black;
	font-size:19px;
	text-align:center;
	line-height:50px;
	text-decoration:none;
	border-bottom:1px solid #ccc;
}
#nav a:hover{
	color:white;
	background-color:#ccc;
	border:1px solid;
	border-left-color:#ADE3FA;
	border-right-color:#ADE3FA;
	border-top-color:#ADE3FA;
}
.people .pList {
    display: flex;
    justify-content: space-around;
}

.people .pList a {
	text-decoration:none;
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.people .pList a:hover {
    box-shadow: 0 0 10px #757575;
}

.people .pList dl dd:nth-child(2) {
    line-height: 25px;
}

.people .pList dl dd span {
    display: inline-block;
    color: #a10000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
